
header.page-header.container.cgen {
  border: 1px solid black;
}

header.page-header.container.cgen::after {
  content: "Front_matter:";
    position: relative;
    left: -150px;
    top: -150px;
}

.popover{
  max-width: 1000px!important;
  background-color: #f5f5f5!important;
}

.popover pre{
  border: none!important;
}